<% @page_title = "Programs List" %>
<div class="program list">
  <%= flash[:notice] %>
</div>

<div class="program list">
  <h2> Programs</h2>

  <table class="listing" summary="program list">
    <tr class="header">
      <th>Program Name</th>
      <th>Version</th>
      <th>Developer</th>



    </tr>
    <% @program.each do |t| %>
        <tr>
          <td><%= t.name %></td>
          <td><%= t.version %></td>
          <td><%= t.developer %></td>



        </tr>

    <% end %>

  </table>



</div>